.header__lang-item {
  margin-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
}

@media screen and (max-width: 768px) {
  .header__lang-item  {
    font-size: 18px;
    line-height: 17px;

  }
}