.place__title {
  flex: 1 1 50%;
  font-size: 72px;
  line-height: 65px;
  flex-basis: 50%;
  margin: 0 0 60px 0;
  width: 457px;
}

@media (max-width: 1280px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px){
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
}

@media screen and (max-width: 768px){
  .place__title {
    font-size: 32px;
    line-height: 35px;
    flex-basis: 100%;
    margin-bottom: 32px;
  }
}

@media (max-width: 375px) {
  .place__title {
    margin-left: 16px;
  }
}
