@import url(../../vendor/normalize.css);

.page {
  font-family: "Inter", sans-serif;
  background: #2a2c2f;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .page {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1280px) {
  .page {
    padding-left: 48px;
    padding-right: 48px;
  }
}