@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin-top: 85px;
  width: 100%;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    display: flex;
    flex-direction: column;
    margin-top: 71px;
  }
}
