.intro__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  max-width: 684px;
  margin: 45px 0 0;
}


@media screen and (max-width: 1020px) {
  .intro__subtitle {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .intro__subtitle {
    margin-top: 35px;
  }
}