@import url(_geyser/video__item_geyser.css);
@import url(./_cycling/video__item_cycling.css);

.video__item {
  width: 583px;
  height: 323px;
  margin-left: 18px;
  border-radius: 5px;
}

.video__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 1240px){
  .video__item {
    width: 456px;
    height: 288px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 1024px){
  .video__item {
    width: 352px;
    height: 200px;
  }
}

@media screen and (max-width: 768px){
  .video__item {
    width: 343px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px){
  .video__item:first-child {
    margin-left: auto;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 425px){
  .video__item {
    width: 100%;
  }
}

@media screen and (max-width: 375px){
  .video__item {
    width: 288px;
  }
}

