@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__image-item/place__image-item.css);
@import url(__website/place__website.css);
@import url(./__url/place__url.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__text-column/place__text-column.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}
