@import url(_text-bold/digits__row_text-bold.css);

.digits__row {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .digits__row {
    line-height: 19px;
    font-size: 12px;
  }
}